
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>Bakery Shop</h3>
                    <p class="text-justify">Let us sweeten your day! Choose from up to ten delicious flavors made from the finest ingredients and crowned with our signature cream cheese frosting. To elevate your occasion, select from more than sixty unique handcrafted cake designs themed around holidays and celebrations throughout the year. They can be customized for any occasion, including birthdays, showers, weddings and graduations. For that extra touch, we carry a variety of retail items to enhance your celebration. Next time you need a one-stop shop for your upcoming gathering, bring the joy with Nothing Bakery Shop's Cakes!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4 ml-md-4">
                    <h3>Useful links</h3>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-1">About Us</a></li>
                        <li><a href="#" class="py-1">Contact Us</a></li>
                        <li><a href="#" class="py-1">Terms & Conditions</a></li>
                        <li><a href="#" class="py-1">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>We are located at:</h3>
                    <div class="mb-3">
                        <ul class="list-unstyled">
                            <li class="py-1"><i class="bi bi-geo-alt"></i>Address:</li>
                            <li class="py-1"><i class="bi bi-geo-alt"></i> 838 High Ridge Rd</li>
                            <li class="py-1"><i class="bi bi-geo-alt"></i> Stamford, CT 06905</li>
                            <li class="py-1"><a href="#"><i class="bi bi-phone"></i> 203-222-3343</a></li>
                            <li class="py-1"><a href="#"><i class="bi bi-envelope"></i> yyarytskyy@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                Copyright © @DateTime.Now.Year | All rights reserved | This website is made by <a href="https://www.linkedin.com/in/yuriy-yarytskyy-6839751b3/" target="_blank">www.linkedin.com</a>
            </div>
        </div>
    </div>
</footer>